
@{
    ViewData["Title"] = "同意說明書";
}

<div class="overflow-auto w-100 flex-grow-1">
    <div class="content">
        <div class="page-title mb-4 text-center">
            <h2>同意說明書</h2>
        </div>
        <div class="policy">
            【eJoin活動上架發佈規範及建議】<br />
            活動主辦單位(以下簡稱為主辦單位)委託盈科泛利股份有限公司旗下網路服務「eJoin活動通」(以下簡稱eJoin)代售活動票券予參加者。為了保障您的權益，請在建立活動前詳閱並同意本《活動上架發佈規範及建議》。<br />
            <br />
            【eJoin活動上架發佈規範】<br />
            一、規範說明：<br />
            1 主辦單位上架發佈之活動內容，若有違反以下任何禁止條款規定，遭到舉報或發現，經稽查屬實後eJoin活動通平台將可依維護平台運作之權力，對主辦單位發佈之活動進行以下限制。<br />
            <br />
            1.1 主辦單位違規活動將無法獲得eJoin活動通平台全渠道推薦宣傳資源（包含網站、App、EDM、社群平台等）。<br />
            <br />
            1.2 於App四大專區(新上架專區、排行榜專區、早鳥票專區、免費票專區)全區域屏蔽主辦單位違規活動。<br />
            <br />
            1.3 禁止主辦單位的違規活動購買eJoin任一廣告曝光資源。<br />
            <br />
            1.4 若主辦單位舉辦的活動違反法律規範，或嚴重危害平台利益，eJoin活動通平台保有直接下架之權利，並有解釋嚴重危害平台利益定義之權利。<br />
            <br />
            2 因違反規定而受到限制之活動，將不會主動通知主辦單位。<br />
            <br />
            3 自發佈新規範日起，此規範針對eJoin活動通平台，所有已上架中的活動均適用，需請主辦單位特別留意。<br />
            <br />
            4 主辦方無法針對已結束的活動進行修改/下架/刪除的動作，如果有相關需求，需要向eJoin提出此收費性的服務，如有需求請洽eJoin客服。<br />
            <br />
            二、活動基本資訊：<br />
            1 活動名稱及活動Banner圖不得有違反以下規定之內容，禁止的內容為：<br />
            <br />
            1.1 無上傳Banner圖。<br />
            <br />
            1.2 腥膻色資訊。如18禁文字、血腥暴力等內容資訊。<br />
            <br />
            1.3 非法直銷性質活動。如：試圖拉攏入會或認購非來自於銷售價值的企業自產產品。<br />
            <br />
            1.4 非法博弈資訊。如非法設置之娛樂場所或非法娛樂之行為。<br />
            <br />
            1.5 公開活動的資訊不齊全。如測試、未完成、複製...等文字。<br />
            <br />
            1.6 任何違法及容易使用戶產生疑問的資訊，eJoin活動通平台保有解釋易使用戶產生疑問定義之權利。<br />
            <br />
            2. 禁止上架多筆活動增加曝光：<br />
            <br />
            2.1. 主辦單位禁止上架多個相同/相似活動名稱或活動內容之活動頁，若同一月份中有多場次，請使用票券區分場次，設定於同一活動頁。<br />
            <br />
            2.2. 禁止使用多個主辦單位，上架相同/相似活動內容。<br />
            <br />
            2.3. 以上行為影響到其他主辦單位自然露出的權益，eJoin活動通平台保有解釋易使用戶產生疑問定義之權利<br />
            <br />
            3.因台灣觀光旅行產業屬特許行業，無法於eJoin活動通平台上架套裝旅遊行程(如多點停靠、含交通住宿以及行程安排等)。<br />
            <br />
            六、附註：<br />
            1 當主辦單位使用eJoin活動通平台發佈活動服務時，即表示主辦單位已閱讀、了解並同意接受本規範之所有內容。eJoin活動通平台有權於任何時間修改或變更本約定書之內容，若有重大項目變更將同步公告於主辦中心，建議主辦單位應注意修改或變更。主辦單位於任何修改或變更後繼續使用eJoin活動通平台服務時，將視為主辦單位已閱讀、瞭解並同意接受修改或變更。<br />
            <br />
        </div>
        <label class="form-check-label ">
            <input class="form-check-input" type="checkbox" id="agree">
            我已同意上述規範
        </label>
        <button type="submit" class="off save-btn btn rounded-pill w-100 py-2 fw-bolder fs-5">開始</button>
    </div>
</div>

@section topCSS {
    <link rel="stylesheet" href="~/css/Host/content.css" />
    <link rel="stylesheet" href="~/css/Host/index.css" />
}

@section endJS {
    <script src="~/js/Host/index.js"></script>
}
