<div class="event-description-content nav-page">
    <section>
        <h4>活動摘要</h4>
        <p>請充分描繪活動亮點，包括「活動關鍵詞」。以提高 Google 搜尋的曝光成效。</p>
        <textarea name="summary" id="" v-model="descInfo.Summary"></textarea>
    </section>
    <section>
        <h4>活動簡介</h4>
        <p>若你的活動為收費活動，為避免消費爭議，請於活動內容中加上主辦是否開立發票之相關說明。</p>
        <textarea name="introduction" id="editor">{{ eventItem.Intro }}</textarea>
    </section>
    <button type="submit" class="save-btn btn rounded-pill w-100 py-2 fw-bolder fs-5" :disabled="isSubmitting" v-on:click="submitSelection2">儲存</button>
</div>