* {
    padding: 0;
    margin: 0;
}

/* 全域 border box */
*,*::before,*::after{
    box-sizing: border-box;
}

body {
    font-family: "Helvetica", "Arial","LiHei Pro","黑體-繁","微軟正黑體", sans-serif;
    line-height:1.5 !important;
    overflow-y: scroll;
    background-color: #fff;
}

.content {
    margin: auto;
    width: 90%;
    max-width: 1080px;
    background-color: #fff;
}

img {
    vertical-align: middle;
    width: 100%;
}

.header-area {
    background: linear-gradient(to top, #B5D7FF, #8CAEF7);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.header-area img {
    max-width: 80px;
    padding-left: 30px;
}

.header-area .login {
    color: #fff;
    padding-right: 30px;
}

.header-area .login a {
    text-decoration: none;
    color: #fff;
}

.header-area .login a:hover {
    color: #505050;
    transition: .3s;
}

.user-detail-page-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.user-detail-page-inner {
    margin: 20px 0 13px;
}

.user-banner {
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 18px 24px 0px rgba(0,0,0,.06);
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    position: relative;
    line-height: 0 !important;
}

.user-banner img {
min-width: 1080px;
width: 100%;
height: 100%;
/*height: 191.25px;*/
aspect-ratio: 16 / 9;
object-fit: cover;
}

.user-main-info-area {
    padding: 0 48px;
    margin: -24px 0 24px;
    position: relative;
    z-index: 1;
}  

.user-main-info-border {
    position: relative;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.avatar-area {
    width: 125px;
    height: 125px;
    transition: scale(1.05);
    z-index: 2;
}

.avatar-border {
    border: 10px solid #fff;
    border-radius: 50%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1019607843);  
    overflow: hidden;
    width: 125px;
    height: 125px;
}

.avatar-border img {
    border: 1px solid #dbd8d8;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-info-area {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}


.main-info-name h2 {
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
}

.main-info-stats-area {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.main-info-stats-txt {
    text-align: center; 
    white-space: nowrap;
}

.main-info-stats-txt p {
    font-size: 16px;
    color: #505050;
    margin-bottom: 0px; 
    padding: 0 20px;
    border-right:1px solid #505050 ;   
}

.main-info-stats-fans,
.main-info-stats-eventCount {
    font-size: 16px;
    font-weight: 1000;
}

.main-info-stats-btn {
    width: 112px;
    background: linear-gradient(to left, #80C3FF, #6D9FF4);
    border-radius: 50px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    padding: 5px 0;
    margin-left: 20px;
    font-weight: 800;
    letter-spacing: 1px;
    cursor: pointer;
    white-space: nowrap;
    text-decoration:none;
}

.main-info-stats-btn a {
    text-decoration: none;
    color: #fff;
}

.main-info-stats-btn:hover {
    background: linear-gradient(to left, #68b8ff, #68b8ff);
    transition: .3s;
}

.main-info-stats-btn:focus {
    background-color: #6481e0;
}

.user-main-container {
    border-radius: 20px;
    box-shadow: 0px 18px 24px 0px rgba(0,0,0,.06);
    background-color: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}



.user-main-option {
    padding: 16px 32px 0;
}

.user-main-option-tabs {
    padding: 11px 0 15px;
    border-bottom: 1px solid #c8c6c6;
}

.tabs-list {
    position: relative;
    overflow: hidden;
}

.tabs-list-container {
    display: flex;
    justify-content: space-around;
}

.tab-list-about,
.tab-list-event {
    font-weight: 600;
    font-size: 23px;
    letter-spacing: 5px;
    text-align: center;
    color: #959ba1;
    cursor: pointer;
    padding: 8px;
    background: none;
    border: none;
    outline: invert;
    box-sizing: border-box;
}

.tab-line {
    position: absolute;
    height: 5px;
    bottom: 0;
    background-color: #278aff;
    box-sizing: border-box;
    width: 66px;
    transform: translateX(218px);
    transition: transform 0.3s ease-in-out;
}

.user-main-about-area-about,
.user-main-about-area-event {
    padding: 24px 80px 48px 80px;
}

.about h3,
.often-event-area h3,
.event-title h3,
.past-event-title h3 {   
    font-weight:700;
    margin-bottom: 20px !important;
    font-size: 23px;
    letter-spacing: 2px;
    color: #787c80;

}

.about-txt {
    text-align: justify ;
    font-size: 16px;
    color: #6a6a6c;
    line-height: 25px;
    margin-bottom: 0;
}

.about-build {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c8c6c6;
    padding: 30px 0;
}

.about-build-img {
    width: 25px;
}

.about-build p {
    font-size: 14px;
    color: #727070;
    margin-bottom: 0;
    font-weight: 800;
}

.often-event-area {
    margin-top: 40px;
}

.often-event-tag {
    margin-top: 30px;
}

.often-event-tag span{
    text-decoration: none;
    background-color: #6398f2;
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 10px;
    letter-spacing: 1px;
    margin-right: 10px;
}

/*.often-event-tag a:hover {
    background-color: #80C3FF;
    transition: .3s;
}*/

/* card */
/*.my-card-group {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    gap: 30px;
}

.my-card-list {
    box-shadow: 3px 3px 10px 3px #dedede;
    border-radius: 30px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction:column;
    transition: transform .3s ease;
    width: 100%;
}

.my-card-list:hover {
    transform: translateY(-3px); 
    box-shadow: 3px 3px 30px 3px #dedede;
}

.my-card-list .card-img {
    border-radius: 30px 30px 0 0;
    width: 100%;
    height: 191.25px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
    transition: transform .5s ease;
    transform-origin: center bottom; 
}

.my-card-list:hover .card-img {
    transform: scale(1.05);
}

.my-card-list .card-body {
    padding: 20px;
    flex-grow: 1;
}

.my-card-list .date-time {
    color: #b5bac1;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.my-card-list .card-title a {
    color: #333;
    text-decoration: none;
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;  
    overflow: hidden;
    font-size: 18px;
    font-weight: 800;
}

.my-card-list .card-title a:hover {
    color: #6398f2;
    transition: .3s;
}

.my-card-list .location {
    display: flex;
    flex-wrap: nowrap;
    color: #9a9a9a;
    margin-top: 10px;
    align-items: center;
    font-size: 14px;
}

.my-card-list .location img {
    width: 13px;
    height: 16px;
    margin-right: 5px;
}

.my-card-list .tag-bottom-bar {
    background: linear-gradient(to left, #80C3FF, #6D9FF4);
    padding: 20px 20px;
    font-size: 14px;
    margin-top: auto; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.my-card-list .tag-bottom-link a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.my-card-list .tag-bottom-link a:hover {
    color: #000;
    transition: .3s;
}

.my-card-list .tag-like {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
} 

.my-card-list .tag-like img {
    width: 20px;
    margin-right: 5px;
}

.my-card-list .tag-like img:hover {
    transform:scale(1.2,1.2);
    transition: all .5s ease;
}*/


/* past events */
.user-main-past-event-area {
    margin-top: 60px;
}

.user-main-event-area-event {
    padding: 24px 80px 48px 80px;
}

.past-event-grid-container {
    margin-top: 30px;
}

.past-event-grid-item-year h4 {
    font-size: 23px;
    font-weight: 800;
    color: #5b5a5a;
}

.past-event-grid-item-area {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.past-event-grid-item-area a {
    text-decoration: none;
}

.past-event-item {
    display: flex;
    align-items: center;
    height: 55px;
}

.past-event-item-date {
    background-color: #82c4ff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    height: 60px;
    line-height: 1.2;
}

.past-event-item-date-month {
    font-size: 14px;
    color: #ffffff;
    margin-bottom: 0px;
    letter-spacing: 1px;
}

.past-event-item-date-day {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 0px;
    font-weight: 800;
    letter-spacing: 1px;
}

.past-event-item-line {
    margin: 0 20px;
    min-width: 5px;
    height: 100%;
    background-color: #d8edff;
}

.past-event-item-main {
    display: flex;
    align-items: center;
}
.past-event-item-main-img {
    margin-right: 20px;
}

.past-event-item-main-img img {
    min-width: 100px;
    height: 50px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: 10px;
}

.past-event-content {
    display: flex;
    flex-direction: column;
}

.past-event-locate-content {
    display: flex;
    align-items: center;
}

.past-event-name {
    display: -webkit-box;
    -webkit-line-clamp: 1; 
    -webkit-box-orient: vertical;  
    overflow: hidden;
    color: #5b5a5a;
    font-size: 16px;
    font-weight: 800;
}

.past-event-locate-content {
    color: #5b5a5a;
    font-size: 14px;
}

.past-event-locate-img {
    width: 10px;
    margin-right: 5px;
}

.active {
    border-bottom: 5px solid #278aff;
  }

/* footer */
.copy-right {
    text-align: center;
    color: #c6c6c6;
    font-size: 14px;
    padding: 30px 0;
}


@media only screen and (min-width: 1200px) {
    .user-main-info-area {
        margin: 10px 0;
        padding: 16px 96px;
        border-radius: 16px;
        background-color: #fff;
        box-shadow: 0px 18px 24px 0px rgba(0,0,0,.06);
        position: relative;
        z-index: 1;
    }
    .main-info-name {
        width: 50%;
    }
    
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .user-banner img {
        min-width: 90%;
    }
    .user-main-info-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
    }
    .user-main-info-border {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-info-area {
        border-radius: 30px;
        box-shadow: -4px -1px 24px 0px rgba(0,0,0,.06);
        padding: 30px 50px;
        margin-top: -15px;
        background-color: #fff;
        z-index: 1;
    }
/*    .my-card-group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }*/

    .past-event-grid-container {
        margin: auto;
    }

}

@media screen and (max-width: 767px) {
    .user-banner img {
        min-width: 90%;
    }
    .user-detail-page-inner {
        min-width: 500px;
    }
    .user-main-info-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;
    }
    .user-main-info-border {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-info-area {
        border-radius: 30px;
        box-shadow: -4px -1px 24px 0px rgba(0,0,0,.06);
        padding: 30px 50px;
        margin-top: -15px;
        background-color: #fff;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .main-info-name {
        margin: auto;
    }
    .user-banner {
        width: 70%;
        margin: auto;
    }
/*    .my-card-group {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        gap: 20px;
    }*/
    .my-card-list {
        width: 350px;
        margin: auto;
    }
}
