@model Web.ViewModels.HomeViewModel.IndexViewModel

@{
    ViewData["Title"] = "eJoin";
}

@section topCSS {

    <link rel="stylesheet" href="~/css/Home/Index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Shared/_CardPartial.css" asp-append-version="true" />
}

@section endJS {
    <script src="~/js/Shared/_CardFavorite.js"></script>
}

<div class="content">

    <div class="home-body">
        <div class="wrap">
            <div class="carousel-part">
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                                aria-label="Slide 4"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                                aria-label="Slide 5"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                                aria-label="Slide 6"></button>
                    </div>
                    <div class="carousel-inner">
                        @foreach (var card in Model.CarouselCards)
                        {
                            @await Html.PartialAsync("PartialView/EventCardPartial/_CarouselPartial", card)
                        }
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            
            @* <div class="group-title">最近瀏覽  <img class="group-title-img" src="~/images/group-title-first.svg"></div>
            <div class="card-part">

                <div class="my-card-group">
                    @foreach (var card in Model.FeaturedCards)
                    {
                        @await Html.PartialAsync("PartialView/EventCardPartial/_CardPartial", card)
                    }
                </div> *@
            </div>
            <div class="group-title">編輯精選  <img class="group-title-img" src="~/images/group-title-first.svg"></div>
            <div class="card-part">

                <div class="my-card-group">
                    @foreach (var card in Model.FeaturedCards)
                    {
                        @await Html.PartialAsync("PartialView/EventCardPartial/_CardPartial", card)
                    }
                </div>
            </div>

            <div class="group-title">熱門活動  <img class="group-title-img" src="~/images/group-title-second.svg"></div>
            <div class="card-part">

                <div class="my-card-group">
                    @foreach (var card in Model.HotCards)
                    {
                        @await Html.PartialAsync("PartialView/EventCardPartial/_CardPartial", card)
                    }
                </div>
            </div>

            <div class="group-title">假日要去哪  <img class="group-title-img" src="~/images/group-title-third.svg"></div>
            <div class="card-part">

                <div class="my-card-group">
                    @foreach (var card in Model.HolidayCards)
                    {
                        @await Html.PartialAsync("PartialView/EventCardPartial/_CardPartial", card)
                    }
                </div>
            </div>
            <div class="more-button-part">
                <a asp-controller="Home" asp-action="Search" class="home-more-button"> 更多精彩活動</a>
            </div>
        </div>
    </div>

</div>