@using Web.ViewModels.OrganizeViewModel
@using Newtonsoft.Json
@model EditViewModel
@{
    var eventVM = Model;
    string json = JsonConvert.SerializeObject(eventVM);
}
@{
    ViewData["Title"] = "Edit";
}

<div class="content">
    <div class="page-title mb-4">
        <h2>活動編輯</h2>
        <p class="text-secondary">在此編輯所有關於該活動的設定</p>
    </div>

    <div class="select-edit-part mb-5">
        <ul class="nav nav-tabs d-flex justify-content-evenly">
            <li class="nav-item">
                <button class="nav-link active" aria-current="page">設定主題</button>
            </li>
            <li class="nav-item">
                <button class="nav-link">基本內容</button>
            </li>
            <li class="nav-item">
                <button class="nav-link">活動內容</button>
            </li>
            <li class="nav-item">
                <button class="nav-link">票券設定</button>
            </li>
        </ul>
    </div>

    @await Html.PartialAsync("/Views/Shared/PartialView/EventEditPartial/_ThemeSelectPartialForEdit.cshtml")

    @await Html.PartialAsync("/Views/Shared/PartialView/EventEditPartial/_BasicInfoPartialForEdit.cshtml")

    @await Html.PartialAsync("/Views/Shared/PartialView/EventEditPartial/_DescriptionPartial.cshtml")

    @await Html.PartialAsync("/Views/Shared/PartialView/EventEditPartial/_TicketSettingPartial.cshtml")

</div>

@section topCSS {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet" />
    <link href="~/css/Organize/edit.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin="" />
}

@section topJS {

    <script src="~/lib/ckeditor/ckeditor5-build-classic/build/ckeditor.js"></script>
}

@section endJS {
    <script src="~/js/Organize/edit.js"></script>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
            crossorigin=""></script>
    <script>
        const jsObj = @Html.Raw(json);
    </script>
    <script src="~/js/organize/vueedit.js"></script>
}

