


<div class="step-wrap">
    <div class="step-bar">
        <div class="step-container">
            <div class="step">
                <span class="step-number">1</span>
                <span class="step-name">選擇票券</span>
            </div>
            <span class="arrow"><i class="fa-solid fa-angle-right"></i></span>
        </div>
        <div class="step-container">
            <div class="step">
                <span class="step-number">2</span>
                <span class="step-name">填寫資料</span>
            </div>
            <span class="arrow"><i class="fa-solid fa-angle-right"></i></span>
        </div>
        <div class="step-container">
            <div class="step">
                <span class="step-number">3</span>
                <span class="step-name">選擇付款</span>
            </div>
            <span class="arrow"><i class="fa-solid fa-angle-right"></i></span>
        </div>
        <div class="step-container">
            <div class="step">
                <span class="step-number">4</span>
                <span class="step-name">取得票券</span>
            </div>
        </div>
    </div>
</div>